footer
  .container.text-center
    p.pull-left © 2016 SendLove I/O, Inc. <a href=/privacy>Terms.</a>
    ul.pull-right.list-inline
      li
      a.btn.btn-social-icon.btn-facebook(href='https://www.facebook.com/sendlove.io')
        i.fa.fa-facebook-square
      li
      a.btn.btn-social-icon.btn-instagram(href='https://www.instagram.com/sendlove.io/')
        i.fa.fa-instagram
      li
      a.btn.btn-social-icon.btn-twitter(href='https://twitter.com/sendloveio')
        i.fa.fa-twitter-square
      li
      a.btn.btn-social-icon.btn-github(href='https://github.com/sahat/hackathon-starter')
        i.fa.fa-github-square
      li

