footer
  .container.text-center
    p.pull-left © 2016 SendLove I/O, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://www.facebook.com/sendlove.io/') Facebook 
      li
        a(href='https://www.instagram.com/sendlove.io/') Instagram 
      li
        a(href='https://twitter.com/sendloveio') Twitter 
      li
        a(href='https://github.com/josebrwn/hackathon-starter') GitHub 

