footer
  .container.text-center
    p.pull-left © 2016 SendLove I/O, Inc.
    ul.pull-right.list-inline
      li
      a.navbar-brand(href='https://www.facebook.com/sendlove.io')
        i.fa.fa-facebook-square
      li
      a.navbar-brand(href='https://www.instagram.com/sendlove.io/')
        i.fa.fa-instagram
      li
      a.navbar-brand(href='https://twitter.com/sendloveio')
        i.fa.fa-twitter-square
      li
      a.navbar-brand(href='https://github.com/sahat/hackathon-starter')
        i.fa.fa-github-square
      li
       a.navbar-brand(href='/')
        i.fa.fa-globe
