extends layout

block content
  .page-header
    p.lead We are building a platform for positive communications in the world. To take part in our early beta program, please sign up, and in the meantime, check out our <a href=/api/goodnews>Good News</a> page!
    
    h3 Sign up for the beta program

  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='name') Your Name
      .col-sm-8
        input.form-control(type='text', name='name', id='name', autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='email') Your Email Address
      .col-sm-8
        input.form-control(type='text', name='email', id='email')
    .form-group
      label(class='col-sm-2 control-label', for='message') Message (optional)
      .col-sm-8
        textarea.form-control(name='message', id='message', rows='7')
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          i.fa.fa-envelope
          | Send
