extends ../layout

block content
  style.
    #map {
      height: 60vh;
    }

  .page-header
    h2
      i.fa.fa-map
      | Map - Sendlove.io

  .btn-group.btn-group-justified
    a.btn.btn-primary(href='https://www.facebook.com/sendlove.io', target='_blank')
      i.fa.fa-share
      | Share your intention!
    a.btn.btn-primary(href='/', target='_blank')
      i.fa.fa-question-circle-o 
      | How does it work?

  br
  p <a href="/api/new_intention">Intention</a> > <a href="/api/map"><b>Map</b></a> 

  #map

  //- this is the simple way of making a local available to client javascript.
  script(type='text/javascript').
    var locations =!{JSON.stringify(mapLocations)}
    
  script.
    document.write("<script type='text/javascript' var locations=locals.mapLocations src='/js/map.js?" + Date.now() + "'><\/script>");
  
  script( async defer src='https://maps.googleapis.com/maps/api/js?key=' + locals.mapKey + '&libraries=visualization&callback=initMap')