extends ../layout

block content
  style.
    #map {
      height: 60vh;
    }

  .page-header
    h2
      a(href='/api/map')
        i.fa.fa-map
      | Map - Sendlove.io

  .btn-group.btn-group-justified
    a.btn.btn-primary(href='/api/new_intention')
      i.fa.fa-heart-o 
      | Create your intention
    a.btn.btn-primary(href='http://www.facebook.com/sharer/sharer.php?u='+shareUrl, target='_blank')
      i.fa.fa-share
      | Share your intention

  br
  p <a href="/api/new_intention">Intention</a> > <a href="/api/map"><b>Map</b></a> 

  #map

   br
  .row
    .col-sm-6
      br
      table(border=0 width="100%" )
        thead
        tbody
          for result in mapLocations.reverse()
            tr
            td
              img(src='/uploads/'+result.imagePath, height="50px")  
            td
              a(href='/api/intention/' + result._id ) #{result.name}
            td
              a(href='/api/intention/' + result._id ) #{result.category}



  //- this is the simple way of making a local available to client javascript.
  script(type='text/javascript').
    var locations =!{JSON.stringify(mapLocations)}
    
  script.
    document.write("<script type='text/javascript' var locations=locals.mapLocations src='/js/map.js?" + Date.now() + "'><\/script>");
  
  script( async defer src='https://maps.googleapis.com/maps/api/js?key=' + locals.mapKey + '&libraries=visualization&callback=initMap')