extends ../layout

block content
  style.
    #map {
      width: 100%;
      height: 500px;
    }

  .page-header
    h2
      i.fa.fa-map
      | Map - Sendlove.io

  .btn-group.btn-group-justified
    a.btn.btn-primary(href='https://www.facebook.com/sendlove.io', target='_blank')
      i.fa.fa-share
      | Share your intention!
    a.btn.btn-primary(href='/', target='_blank')
      i.fa.fa-question-circle-o 
      | How does it work?

  br
  p <a href="/api/workout">Intention</a> > <a href="/api/recipient">Recipient</a> > <a href="/api/message">Message</a> > <a href="/api/map"><b>Map</b></a> 

  #map

  script(src='/js/map.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBOukJlvI_qFJMUpeol0u-SOtRlySx_4DE&callback=initMap')
 
