extends ../layout

block content
  .page-header
    h2
      i.fa.fa-users
      | recipient - SendLove.io

  .btn-group.btn-group-justified
    a.btn.btn-primary(href='https://www.facebook.com/sendlove.io', target='_blank')
      i.fa.fa-share
      | Share your intention
    a.btn.btn-primary(href='/api/new_intention')
      i.fa.fa-map-marker 
      | Create your intention

  br
  p <a href="/api/new_intention">Intention</a> > <a href="/api/recipient"><b>Recipient</b></a> > <a href="/api/message">Message</a> > <a href="/api/map">Map</a> 
    
  .row
    .col-sm-6
      form(role='form', method='POST')
        br
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='hidden', name='personId', value=user.id) 
        
        .form-group
          .input-group
            label.control-label Name 
            input.form-control(name='name', autofocus, type='text', size='20', placeholder='Name of recipient')
        .form-group
          .input-group
            label.control-label Description
            textarea.form-control(name='description',  cols='35', rows='3', placeholder='Here you can put a description')
        .form-group
          .input-group
            label.control-label Latitude & &nbsp; 
            input.form-control(name='latitude', type='text', size='3', placeholder='The recipient\'s latitude')
            label.control-label Longitude
            input.form-control(name='longitude', type='text', size='3', placeholder='The recipient\'s longitude')
        .form-group
          .input-group
            label.control-label Image URL
            input.form-control(name='imageurl', type='text', size='45', placeholder='Another image path?!')
        .form-group
          .input-group
            label.control-label Category
            input.form-control(name='category', type='text', size='20', placeholder='Add a category too!')
        .form-group
          .input-group
            button.btn.btn-default(type='submit')
              i.fa.fa-location-arrow
              | Send            