extends ../layout





block content
  .page-header
    h2
      i.fa.fa-heart
      | Workout - SendLove.io

  .btn-group.btn-group-justified
    a.btn.btn-primary(href='https://www.facebook.com/sendlove.io', target='_blank')
      i.fa.fa-share
      | Share your intention!
    a.btn.btn-primary(href='/', target='_blank')
      i.fa.fa-question-circle-o 
      | How does it work?

  br
  p <a href="/api/workout"><b>Intention</b></a> > <a href="/api/recipient">Recipient</a> > <a href="/api/message">Message</a> > <a href="/api/map">Map</a> 


  .row
    .col-sm-6



      label.control-label Put it on the map!
      #map(style="width:600px;height:400px") 
      #floating-panel
        input(id="address" type="textbox" placeholder="Search Box")
        input(id="submit" type="button" value="Find me!")
    

  script(src='/js/testmap.js')
  script( async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBFYFYds1GEVZ0k_Ob6SzZg76vDVLqP9kc&callback=initMap')


  style.
    #map {
      height: 100%;
    }
    #floating-panel {
      position: absolute;
      top: 10px;
      left: 25%;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
      text-align: center;
      font-family: 'Roboto','sans-serif';
      line-height: 30px;
      padding-left: 10px;
    }